/* .spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  margin: -60px 0 0 -60px;
  animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
@-moz-keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
} */

/* spinner */

.load {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
}

.load hr {
  border: 0;
  margin: 0;
  width: 20%;
  height: 20%;
  position: absolute;
  border-radius: 50%;
  animation: spin 2s ease infinite;
}

.load :first-child {
  background-color: #c43670;
  animation-delay: -1.5s;
}

.load :nth-child(2) {
  background-color: #fa4d09;
  animation-delay: -1s;
}
.load :nth-child(3) {
  background-color: #f26b27;
  animation-delay: -0.5s;
}
.load :last-child {
  /* background-color: #183b48; */
  background-color: #b13583;
}

@keyframes spin {
  0%,
  100% {
    transform: translate(0);
  }

  25% {
    transform: translate(160%);
  }
  50% {
    transform: translate(160%, 160%);
  }
  75% {
    transform: translate(0, 160%);
  }
}
